.specials{
	background-color: #F5F5F5;
	text-align: center;
	.wrapper{
			padding-top: 2%;
		.borderDecor{
			background-image: url(../../Images/specials-border.png);
			background-repeat: no-repeat;
			background-size: 100%;
			padding:0 5% 15%;
			h2{
				margin: 0;
		    // padding-top: 5%;
			}
			.appetizer, .main, .dessert{
				float: left;
				width: 33.3%;
				padding-top: 5%;
				padding-left: 0;
				font-size: 1.5rem;
				h4{

				}
				ul{
					padding-left: 0;
					li{
						text-align: left;
						line-height: 6rem;
					}
					li:nth-child(odd){
						float:left;
						width: 65%;
					}
					li:nth-child(even){
						float:right;
						width: 35%;
					}
				}
			}
			p{
				clear: both;
				position: relative;
    		top: 85px;
				a{
					border:2px solid black;
					padding: 0.5% 4%;
					text-align: center;
					color: black;
					font-size: 1.4rem;
					transition: all .4s;
				}
				a:hover{
					background-color: rgb(255, 81, 74);
					border: 2px solid rgb(255, 81, 74);
					color: white;
				}
			}
		}
		.specialsImage{
			width: 70%;
			margin: 0 auto;
			position: relative;
			bottom: 0;
	    right: 10px;
			img{
				width: 100%;
				display: block;
				// position: absolute;
				// bottom: 0;
			}
		}
	}
}